Node-Red-flow.json
[
    {
        "id": "b5d1af96.0416f8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "518afb0c.fd6614",
        "type": "tcp in",
        "z": "b5d1af96.0416f8",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60001",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "40752fa4.50e23"
            ]
        ]
    },
    {
        "id": "7cf022d0.d33cf4",
        "type": "debug",
        "z": "b5d1af96.0416f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "e3dcbb55.657938",
        "type": "function",
        "z": "b5d1af96.0416f8",
        "name": "Remove chars coming from the upside down",
        "func": "const re = /ALARM\\!\\sm\\d*\\s<\\-\\sm\\d*\\,\\sn\\:\\d*/g\nconst num = /\\d+/g\nconst substr = (str,regex) => {\n  return ((str || '').match(regex) || [])\n}\n\nmsg.payload = substr(msg.payload,re)[0];\nvar nums = substr(msg.payload,num);\nnum1 = substr(msg.payload,num)[1];\nnum2 = substr(msg.payload,num)[2];\n\nmsg.payload = 'mote ' + nums[0] + ' has mote ' + nums[1] + ' too near since ' + nums[2] + ' messages!';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "7cf022d0.d33cf4"
            ]
        ]
    },
    {
        "id": "40752fa4.50e23",
        "type": "switch",
        "z": "b5d1af96.0416f8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ALARM",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "e3dcbb55.657938"
            ]
        ]
    }
]
