Node-Red-flow.json
[
    {
        "id": "d945cd76.8a4408",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "763c01d1.c697c",
        "type": "tcp in",
        "z": "d945cd76.8a4408",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60001",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "31e73207.625f16"
            ]
        ]
    },
    {
        "id": "32e3806.8e56c8",
        "type": "debug",
        "z": "d945cd76.8a4408",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "eec9eecd.7da698",
        "type": "function",
        "z": "d945cd76.8a4408",
        "name": "Remove chars coming from the upside down",
        "func": "const re = /ALARM\\!\\sm\\d*\\s<\\-\\sm\\d*\\,\\sn\\:\\d*/g\nconst num = /\\d+/g\nconst substr = (str,regex) => {\n  return ((str || '').match(regex) || [])\n}\n\nmsg.payload = substr(msg.payload,re)[0];\nvar nums = substr(msg.payload,num);\nvar value1 = 'mote ' + nums[0] + ' has had mote ' + nums[1] + ' too near for ' + nums[2] + ' messages!';\nmsg.payload = { \"value1\": value1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "32e3806.8e56c8",
                "20611e2a.05b242"
            ]
        ]
    },
    {
        "id": "31e73207.625f16",
        "type": "switch",
        "z": "d945cd76.8a4408",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ALARM",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "eec9eecd.7da698"
            ]
        ]
    },
    {
        "id": "20611e2a.05b242",
        "type": "http request",
        "z": "d945cd76.8a4408",
        "name": "web req",
        "method": "POST",
        "ret": "txt",
        "url": "https://maker.ifttt.com/trigger/alarm_received/with/key/hO8ViDYpUMLZiq9sxdGgqGAePhgnju_q_LgOCOmjrAP",
        "tls": "",
        "x": 820,
        "y": 80,
        "wires": [
            [
                "32e3806.8e56c8"
            ]
        ]
    }
]
